<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.png">
    <link rel="manifest" href="manifest.json">
    <title>Babyls Restaurant</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/e09825eee5.js" crossorigin="anonymous"></script>
</head>
<body>
    <a href="#mainContent" class="skip-to-content">Menuju Konten</a>
    <header class="header-wrapper">
        <a href="/" class="header-title">Babyls Restaurant</a>
        <button id="menuMobile" class="menu-mobile">☰</button>
    </header>
    <nav id="drawer" class="nav">
        <ul class="list-wrapper">
            <li class="list-item"><a href="#/list-restaurants">Home</a></li>
            <li class="list-item"><a href="#/like">Favorites</a></li>
            <li class="list-item"><a href="https://www.linkedin.com/in/aryasasta-dharma-sagala-478511198/">About Us</a></li>
        </ul>
    </nav>
    <div class="jumbotron">
        <div class="jumbotron-inner">
            <h1>Unleash Your Hungry</h1>
        </div>
    </div>
    <main>
        <section id="mainContent">
            
        </section>
    </main>
    <footer>
        Copyright &copy; Babyls Restaurant - 2021
    </footer>
</body>
</html>
